<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách bài hát</title>

    <!--    Boostrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
</head>
<body>
<div class="container-fluid mt-3">
    <a href="/song/create">
        <button class="btn btn-success">Thêm mới bài hát</button>
    </a>
    <table class="table table-borderless table-striped table-earning mt-3">
        <tr>
            <th>STT</th>
            <th>Tên bài hát</th>
            <th>Nghệ sĩ</th>
            <th>Thể Loại</th>
            <th>Sửa</th>
        </tr>
        <tr th:each="song,status:${songPage}">
            <td th:text="${status.count}"></td>
            <td th:text="${song.getNameSong()}"></td>
            <td th:text="${song.getArtist()}"></td>
            <td th:text="${song.getKindOfMusic()}"></td>
            <td>
                <a th:href="@{/song/update/__${song.id}__}">Sửa</a>
            </td>
        </tr>
    </table>
</div>
<p th:if="${msg}" th:text="${msg}"></p>
</body>
</html>