<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    Boostrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
</head>
<body>
<div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <div style="text-align: center" class="form-outline mb-4"><h2>Thêm Mới Bài Hát</h2></div>

                        <form th:object="${songDto}" action="/song/update" method="post">
                            <input th:field="*{id}" type="hidden" id="id" name="id"
                                   class="form-control form-control-lg" readonly/>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="nameSong">Tên bài hát</label>
                                <input th:field="*{nameSong}" type="text" id="nameSong" name="nameSong"
                                       class="form-control form-control-lg" required/>
                                <small style="color: crimson" th:if="${#fields.hasErrors('nameSong')}" th:errors="*{nameSong}"></small><br>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="artist">Nghệ sĩ</label>
                                <input th:field="*{artist}" type="text" id="artist" name="artist"
                                       class="form-control form-control-lg" required/>
                                <small style="color: crimson" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></small><br>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="kindOfMusic">Thể Loại</label>
                                <input th:field="*{kindOfMusic}" type="text" id="kindOfMusic" name="kindOfMusic"
                                       class="form-control form-control-lg" required/>
                                <small style="color: crimson" th:if="${#fields.hasErrors('kindOfMusic')}" th:errors="*{kindOfMusic}"></small><br>
                            </div>
                            <div class="form-outline mb-4">
                                <button class="button btn-success"
                                        style="margin-left: 110px;padding: 15px;border: none;border-radius: 35px;width: 50%;"
                                        id="submitButton" type="submit">
                                    Cập nhật
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>