body {
    font-family: Arial, sans-serif;
    position: relative;
    margin: 0;
}
#menu {
    height: 40px;
    padding-top: 10px;
    margin: 0;
    background-color: #000000;
    border: 1px solid #CDCDCD;
    color: slategray;
}

#menu ul, #menu li {
    padding: 0;
    margin: 0;
}

#menu li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li a {
    width: 100px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
}

#menu ul ul li a {
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

#menu li a:hover {
    background-color: red;
    color: white;
}

#menu ul ul {
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

#menu ul li:hover ul {
    visibility: visible;
}

#sidebar_1,#sidebar_2 {
    background-color: whitesmoke;
    height: 500px;
    float: left;
    width: 20%;
}

#sidebar_2 button{
    text-align: center;
    display: block;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
    background-color: darkgray;
    color: black;
    text-decoration: none;
}

#main {
    background-color: white;
    height: 500px;
    position: relative;
    float: left;
    width: 60%;
}

#footer {
    background-color: gray;
    height: 50px;
    width: 100%;
    clear: both;
    color: white;
}


#login:hover {
    background-color: slategray;
}

button{
    width: 150px;
    height: 80px;
    margin-left: 50%;
    margin-top: 20%;
    text-align: center;
    position: center;
}

h4 {
    text-align: center;
    padding-top: 1rem;
}

#login {
    position: absolute;
}
