body{
    font-family: Arial,sans-serif;
}

#menu{
    height: 40px;
    padding-top:10px;
    margin:0;
    background-color: #000000;
    border: 1px solid #CDCDCD;
    color: slategray;
}

#menu ul, #menu li{
    padding:0;
    margin:0;
}

#menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

#menu li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
}

#menu ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

#menu li a:hover{
    background-color: red;
    color: white;
}

#menu ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

#menu ul li:hover ul{
    visibility: visible;
}

#sidebar_1 {
    background-color: whitesmoke;
    height: 500px;
    width: 20%;
    float: left;

}

#sidebar_2 {
    background-color: whitesmoke;
    height: 500px;
    width: 20%;
    float: right;
}

#main {
    background-color: white;
    height: 500px;
    width: 60%;
    position: relative;
    left: 20px ;
    float: left;
}

#footer {
    background-color: gray;
    height: 50px;
    width: 100%;
    clear: both;
    color: white;
}

hr{
    margin-right: 15px;
}

#login{
    position: absolute;
    right: 0;
    float: right;
    padding: 2px;
    text-align: right;
    margin-right: 30px;
    color: whitesmoke;
    font-family: "Arial Black",sans-serif;

}
#login:hover{
    background-color: slategray;
}
button{
    position: relative;
    left: 65px;
    margin-top: 20px;
    width: 60%;
    height: 80px;

}
h4{
    text-align: center;
    padding-top: 1rem;
}