* {
    box-sizing: border-box;
}

[class*="col-"] {
    /*Quyết định độ trôi nổi của phần tử trên trang web*/
    float: left;
    padding: 15px;
    width: 100%;
}

.row::after {
    /*:: -> CSS3 -> element : -> class
    : -> CSS2*/
    content: "";
    /*Xóa thuộc tính float*/
    clear: both;
    display: table;
}
@media only screen and (min-width: 600px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
#footer{
    clear: both;
    text-align: center;
    background: gray;
}

#footer h4 {
    padding-top: 5px;
}

#menu a{
    display: contents;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 100px;
}

#menu{
    background: black;
}

#sidebar_1,#sidebar_2{
    background-color: whitesmoke;
    height: 500px;
}

#sidebar_2 {
    text-align: center;
    padding-top: 10px;
 }

#sidebar_2 button{
    text-align: center;
    margin-top: 10px;
}