<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <!--    Boostrap-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="col-md-5 m-3">
  <a th:href="@{/book}">
    <button class="btn btn-outline-primary">Quay Lại</button>
  </a></div>

<table class="table table-borderless table-striped table-earning mt-3">
    <tr>
               <th>Tên Người Mượn</th>
        <th>Mã Mượn Sách</th>
        <th>Trạng Thái</th>
        <th>Sách</th>
    </tr>
    <tr th:each="order:${ordersDetail}">
              <td th:text="${order.getNamePerson()}"></td>
        <td th:text="${order.getBookLoanCode()}"></td>
        <td>
            <small th:if="${order.status == false} " style="color: #dc3545"> Mượn thành công</small>
        </td>
        <td th:text="${order.getBook().nameBook}">

        </td>
    </tr>
</table>

</body>
</html>