<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang đăng ký mượn sách</title>
    <!--    Boostrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <div style="text-align: center" class="form-outline mb-4"><h2>Thêm Mới Sách</h2></div>
                        <form th:object="${orderDTO}" th:action="@{/order-details/create(id=${book.id})}" method="post">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="name">Tên Người Mượn</label>
                                <input th:field="*{namePerson}" type="text" id="name" name="name"
                                       class="form-control form-control-lg" required/>
                            </div>
                            <div class="form-outline mb-4">
                                <input th:field="*{borrowedDays}" type="hidden" id="author" name="author"
                                       class="form-control form-control-lg" required/>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="title">Mã Mượn Sách</label>
                                <small th:text="${code}" style="color: crimson"> Hãy nhâp mã này để mượn sách</small>
                                <input th:field="*{bookLoanCode}" type="text" id="title" name="title"
                                       class="form-control form-control-lg" required/>
                            </div>
                            <div class="form-outline mb-4">
                                <button style="margin-left: 110px;padding: 15px;border: none;border-radius: 35px;width: 50%;"
                                        id="submitButton" type="submit">
                                    Thêm
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>