* {
    box-sizing: border-box;
}

[class*="col-"] {
    /*Quyết định độ trôi nổi của phần tử trên trang web*/
    float: left;
    padding: 15px;
    width: 100%;
}

.row::after {
    /*:: -> CSS3 -> element : -> class
    : -> CSS2*/
    content: "";
    /*Xóa thuộc tính float*/
    clear: both;
    display: table;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

#header {
    padding: 5px;
}

/*descendant selector*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
}

.menu li:hover {
    background-color: #0099cc;
}

@media only screen and (min-width: 600px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}


a {
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}
a:hover{
    background-color: #33b5e5;
}

#head{
    font-weight: bold;
    font-size: 50px;
    background-color: crimson;
    color: whitesmoke;
}

#choose{
    background-color: gray;
    height: 20px;
    width: 100%;
    margin-top: 2px;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
}
#choose a{
    color: black;
    text-decoration: none;
}
#content{
    display: contents;
    padding: 100px;
}

#footer{
    background: black;
}
#text{
    background: gray;
    color: white;
    text-align: center;
    height: 25px;
    font-size: larger;
}
